* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  margin-right: 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 16px;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
}

.contact-heading {
  font-size: 40px;
  font-weight: 600;
  color: #575757;
}

.contato {
  display: flex;
}

form,
article {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  color: #9b9b9b;
}

input,
select {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: solid 1px #9b9b9b;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

.curriculo {
  margin-top: 20px;
}

.button {

  background: #9b9b9b;
  color: white;
  width: 150px;
}

.buttonSend {
  background: #C2185B;
  color: white;
  height: 30px;
  width: 625px;
  margin-top: 20px;
  margin-left: 16px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
  height: 190px;
  background-color: #C2185B;
  color: white;
}

div.logoetexto {
  width: 300px;
}

.listaCategorias {
  text-decoration: none;
}